.partnered-with-us {
  text-align: center;
  padding: 5%;
  background-color: #F2F2F2; /* Page BG Color */
}

/* Remove the header image container styles */
.header-image-container {
  display: none;
}

.partnered-with-us h1 {
  font-size: 32px; /* h1 Size */
  margin-bottom: 40px;
  background-color: #192F59; /* Secondary Color */
  color: #FFFFFF;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.partner {
  background-color: #E0F7FA;
  padding: 10px;
  border-radius: 6px;
  width: 80%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.partner:hover {
  transform: translateY(-5px);
}

.partner-inner {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}

.partner-logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.partner h2 {
  font-size: 24px; /* h2 Size */
  margin-bottom: 10px;
  color: #192F59; /* Secondary Color */
  font-family: 'Poppins', sans-serif;
}

.partner p {
  font-size: 16px; /* Body Text Size */
  margin-bottom: 10px;
  line-height: 1.6; /* Line Height */
  color: #24272C; /* Text Color */
  font-family: 'Poppins', sans-serif;
}

.partner a {
  display: inline-block;
  font-size: 16px; /* Body Text Size */
  color: #3DB166; /* Primary Color */
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.partner a:hover {
  text-decoration: underline;
  color: #192F59; /* Secondary Color on hover */
}

/* New Styles */
.migration-section {
  margin-top: 40px;
  background-color: #192F59; /* Secondary Color */
  color: #FFFFFF;
  padding: 20px;
  border-radius: 6px;
}

.migration-header {
  margin-bottom: 20px;
}

.migration-header h2 {
  font-size: 24px; /* h2 Size */
}

.migration-header p {
  font-size: 16px; /* Body Text Size */
}

.migration-options-intro {
  margin-top: 20px;
}

.migration-options-intro h2 {
  font-size: 24px; /* h2 Size */
  color: #192F59; /* Secondary Color */
}

.migration-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.option {
  background-color: #FFFFFF; /* White Background */
  padding: 20px;
  border-radius: 6px;
  max-width: 300px;
  text-align: left;
}

.option h3 {
  font-size: 20px; /* h3 Size */
  color: #192F59; /* Secondary Color */
  margin-bottom: 10px;
}

.option p {
  font-size: 16px; /* Body Text Size */
  color: #24272C; /* Text Color */
}

.aws-section {
  margin-top: 40px;
  background-color: #FDBA12;
  color: #000000;
  padding: 20px;
  border-radius: 6px;
}

.aws-section h2 {
  font-size: 24px; /* h2 Size */
  margin-bottom: 20px;
}

.aws-section p {
  font-size: 16px; /* Body Text Size */
  margin-bottom: 20px;
}
