/* App.css */
.App nav {
  background-color: #f8f8f8; /* Adjust as needed */
  padding: 10px;
}

.App nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for horizontal alignment */
  justify-content: center; /* Center the items */
}

.App nav ul li {
  margin: 0 15px; /* Space between the items */
}

.App nav ul li a {
  text-decoration: none;
  color: #333; /* Adjust as needed */
  font-family: 'Poppins', sans-serif;
}

.App nav ul li a:hover {
  text-decoration: underline;
  color: #3DB166; /* Adjust as needed */
}
